*{
    margin: 0%;
    padding: 0%;
}
.wrapper{
    background-color: #101529;
    width: 100dvw;
    height: 100dvh;
    display: grid;
}
#icon{
    align-self: center;
    justify-self: center;
    margin-bottom: 4rem;
    cursor: pointer;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 44;
    color: #f0f0f0;
    font-size: 4rem;
}
.material-symbols-outlined.active{
    color: #f0f0f0
}